

*
!.gitignore

/app/some-folder-to-exclude
/another-folder-to-exclude/*

.DS_Store 
.project
.settings
target
.idea
.classpath
.checkstyle
.pmd
*.log
*.log.*
*.iml  
*.ipr
*.iws
*.versionsBackup

*.iml
.DS_Store
